@model IEnumerable<ProjetoRumo.Models.Copa>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Adicionar</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BebidaEscolhida)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantidade)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BebidaEscolhida)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantidade)
            </td>
            <td>
                <button type="button" class="btn btn-danger">                   
                    <a asp-action="Delete" asp-route-id="@item.CopaId">Deletar</a>
                </button>

            </td>
        </tr>
}
    </tbody>
</table>
